@mixin imageBarSideStyling(){
  height:338px;
  border-style: solid;
  border-width: 7px 7px 7px 3px;
  border-color: rgb(232, 232, 228);
  margin-left: 0px;
  background-color: #e5911a;
  -moz-box-shadow: inset 0px 0px 50px 1px #BD7612;
  -webkit-box-shadow: inset 0px 0px 50px 1px #BD7612;
  -ms-box-shadow: inset 0px 0px 50px 1px #BD7612;
  box-shadow: inset 0px 0px 50px 1px #BD7612;
  padding-top: 120px;
  @media (min-width: 1200px){
    height: 418px;
    padding-top: 160px;
  }
  @media (max-width: 979px){
    height: 262px;
    padding-top: 90px;
  }
  @media (max-width: 767px){
    display: none;
    height: auto;
    margin-left: 15px;
    border-width: 7px 7px 7px 7px;
  }
  .image-bar-line1{
    color: rgb(247, 207, 138);
    font-size: 30px;
    line-height: 28px;
    font-family:Tahoma, sans-serif;
    text-align: center;
    @media (min-width: 1200px){
      font-size: 40px;
      line-height: 36px;
    }
    @media (max-width: 979px){
      font-size: 22px;
      line-height: 20px;
    }
  }
  .image-bar-line2{
    font-size: 40px;
    line-height: 38px;
    color: white;
    font-family:Cinzel, sans-serif;
    text-align: center;
    @media (min-width: 1200px){
      font-size: 58px;
      line-height: 52px;
    }
    @media (max-width: 979px){
      font-size: 32px;
      line-height: 30px;
    }
  }
  .image-bar-accent{
    padding-top: 15px;
  }
}
@mixin newsBarStyling(){
  .news-bar-item{
    margin-left:0px;
    padding-left: 2px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 5px;
    max-width: 100%;
    color: black;
    .news-bar-item-line1{
      color: rgb(162, 124, 95);
      font-family: 'Cinzel', serif;
      //font-weight: bold;
      font-size: 12pt;
      line-height: 10pt;

      @media (min-width: 1200px){
        font-size: 21px;;
        line-height:13pt;
      }
    }
    .news-bar-item-line2{
      color: black;
      font-family:Tahoma, sans-serif;
      font-size: 10pt;
      line-height: 10pt;
      //text-decoration: underline;
      letter-spacing: 5px;
      padding-bottom:5px;
      @media (min-width: 1200px){
        font-size: 11pt;
        line-height: 12pt;
      }
      @media (max-width: 979px){
        margin: 0px;
      }
    }
    .news-bar-item-image{
      margin-left:0px;

    }
    .news-bar-item-paragraph{
      padding: 10px 10px;
    }
    .news-bar-justify{
       text-align: justify;
      text-justify: inter-word;
    }
    @media (max-width: 979px){
      text-align: center;
    }
  }
}
@mixin contentStyling(){
  padding: 10px 10px 10px 10px;
  font-size:17px;
  line-height: 25px;
  .page-content-container{
    padding-top: 6px;
    padding-bottom:6px;
    // text-align: center;
  }
  @media (max-width: 979px){
    font-size: 14px;
    line-height: 22px;
  }
  a{
    color: rgb(179, 120, 12);
    text-decoration: underline;
    &:hover, &:active{ //&:disabled {
      color: rgb(255, 213, 24);
    }
  }
  >h1, >h2{
    background-color: rgb(232, 225, 206);
    text-shadow: black 0.08em 0.01em 0.3em;
    color: rgb(232, 232, 228);
    font-style: normal;
    font-size: 22px;
    @media (max-width: 979px){
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }


  h1.page-title{
    color: black;
    padding-left: 15px;
	background: rgba(255,255,255, .3);
    font-size: 26px;
    font-family:Tahoma, serif;
    text-shadow: none;
    font-style: normal;
    @media (max-width: 979px){
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
    }
  }
}

.visible-phone{
  display: none;
  @media (min-width: 768px){
    display: none;
  }
  @media (max-width: 767px)
  {
    display: inline-block;
  }
}
.visible-mobile{
  display: none;
  @media (min-width: 768px){
    display: none;
  }
  @media (max-width: 767px)
  {
    display: inline-block;
  }
}
.visible-ltDesktop{
  display: none;
  @media (min-width: 1200px){
    display: none;
  }
  @media (max-width: 979px)
  {
    display: inline-block;
  }
}


@mixin gradient-horizontal ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, right top, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient(left, $startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(left, $startColor, $endColor); // Le standard
}
@mixin gradient-vertical ($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($startColor), to($endColor)); // Konqueror
  background-image: -moz-linear-gradient($startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($startColor, $endColor); // IE10
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient($startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($startColor, $endColor); // The standard
}
@mixin gradient-directional ($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
  background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
  background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}
@mixin gradient-vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 0.5, $endColor: #c3325f) {
  background-color: $endColor;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), color-stop($colorStop, $midColor), to($endColor));
  background-image: -webkit-linear-gradient($startColor, color-stop($colorStop, $midColor), $endColor);
  background-image: -moz-linear-gradient($startColor, $midColor $colorStop*100%, $endColor);
  background-image: -ms-linear-gradient($startColor, color-stop($midColor, $colorStop), $endColor);
  background-image: -o-linear-gradient($startColor, color-stop($midColor, $colorStop), $endColor);
  background-image: linear-gradient($startColor, color-stop($midColor, $colorStop), $endColor);
}

body{
    a{
    font-family:Tahoma, sans-serif;
      color: rgb(179, 120, 12);
    &:hover, &:active{
        text-decoration:none;
        color: rgb(255, 213, 24);
    }
    }
  //background-image: url("../images/light_noise_diagonal.png");
  //background-repeat: repeat;
  //background-position: right;
  background: rgba(60, 29, 2, 0.46);

  header{
      //@include gradient-vertical(rgb(219, 165, 85), rgb(170, 154, 119));
      //box-shadow: inset -1px -3px 5px rgb(75, 51, 15);
        letter-spacing: 2px;
        padding-left: 5px;
        .logo-line1{
          color: rgb(65, 49, 25);
          font-size: 36px;
          line-height: 40px;
          font-family: Tahoma, sans-serif;
          @media (max-width: 767px){
            font-size: 26px;
            line-height: 28px;
            display: block;
          }
        }
        .logo-line2{
          color: rgb(255, 197, 92);
          font-size: 38px;
          line-height: 40px;
          font-family: 'Cinzel', serif;
          @media (max-width: 767px){
            font-size: 28px;
            line-height: 30px;
            display: block;
          }

        }
        .logo-line3 {
          display: none;
          @media (min-width: 1200px) {
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
		.h-contain{
			padding: 5px;
            //border: 1px solid rgba(48, 26, 21, 0.75);
            //border: 1px solid #000;
			margin-bottom: 0px; // line at bottom
			nav{
				ul{
                    padding-left: 0;
                    display: inline;
					margin: 0;
					padding: 5px 5px 5px 5px;
					li{
                      margin-left: 0;
                      margin-bottom: 0;
                      padding: 2px 15px 5px;
                      //border-left: 1px solid #000;
                      list-style: none;
                      display: inline;
                      a{
                        font-family:Tahoma, sans-serif;
                        color: rgb(255, 197, 92);
                        &:hover, &:active{
                          text-decoration:none;
                          color: rgb(255, 221, 188);
                        }
                      }
                      @media (max-width: 767px){
                        display: list-item;
                      }
					}
                  /*li.first{
                    margin-left: 0;
                    border-left: none;
                    list-style: none;
                    display: inline;
                  }
                  li.here{
                    border-bottom: 1px solid #ffc;
                    list-style: none;
                    display: inline;
                  }*/
				}
			}
		}
  }

//body container stuff
  .image-wrap-container{
    background-color:#2d251c !important;
  }
//image bar, same on every page
  .image-bar-container{
    position:relative;

    background-color:#2d251c;
    padding-bottom:10px;
    padding-top:10px;
    .image-bar-mainbar{
      background-color: black;
      border-style: solid;
      border-width: 7px 3px 7px 7px;
      border-color: rgb(232, 232, 228);
      margin-left: 15px;
      height:338px;
      @media (min-width: 1200px){
        height: 418px;
      }
      @media (min-width: 768px) and (max-width: 979px){
        height: 262px;
      }
      @media (max-width: 767px){
        height: auto;
        border-width: 7px 7px 7px 7px;
        margin:0;
      }
      .flexslider-container{
        .flexslider{
          border: none;
          margin: 0px;
          .flex-control-nav.flex-control-paging{
            display:none;
          }

        }
      }
    }
    .image-bar-sidebar{
      @include imageBarSideStyling();
    }
    .top-dropshadow-container{
      position:absolute;
      bottom: -35px;
      margin-left: -5px;
      right: 0px;
      left: 0px;
      img{
        width: 1170px;
      }
      @media (min-width: 768px) and (max-width: 979px), (max-width: 767px){
        bottom: -22px;
      }

    }
  } //end of image bar container



      // FOOTER
       footer{

         //border-bottom:solid 2px rgb(150, 140, 128);
         .copyright-outer {

           padding: 0px 10px 20px 10px;
            .copyright-middle{
              padding: 0px 10px 0px 10px;
              background: rgba(255, 255, 255, 0.15);

              .dummy-copyright{
                box-shadow: 0px 1px 0px  #E0D6CA;
                border-bottom: solid 1px #968C80;
              }
              .copyright{
                background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
                background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
                background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
                background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
                padding-top: 15px;
                padding-bottom: 15px;
                img{
                  padding: 0 5px 0 5px;
                }
                box-shadow: 0px 1px 0px  #E0D6CA;
                border-bottom: solid 1px #968C80;
                .copyright-inner{
                  @media (max-width: 767px)
                  {
                    display: inline-block;
                    .copyright-text{
                      //display: none;
                    }
                    text-align: center;
                    a img{
                      max-width: 60px;
                    }
                    .copyright-left{
                      width: 150px;
                    }
                  }
                }
                .copyright-right{
                  text-align:right;
                  display: inline-block;
                  @media (max-width: 767px)
                  {
                  //width:100%;
                  }
                }
              }
              .dummy-copyright-bottom{
                padding-bottom: 2px;
              }
            }
         }
      }

}