.example-image-link {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    line-height: 0;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*-ms-border-radius: 6px;*/
    /*-o-border-radius: 6px;*/
    /*border-radius: 6px;*/
}
.example-image {
    width: 7rem;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-ms-border-radius: 5px;*/
    /*-o-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
img {
border: 0;
}
/**, *:before, *:after {*/
/* -webkit-box-sizing: border-box; */
/*-moz-box-sizing: border-box;*/
/* box-sizing: border-box; */
/*}*/

/*body {*/
/*color: #777;*/
/*background-color: #fff;*/
/*}*/
/*html {*/
/*font: 100%/1.5 "Karla","lucida grande",sans-serif,sans-serif;*/
/*font-weight: 400;*/
/*}*/